[General dir for excluded files]
gitexclude/*

[OS Files]
.DS_Store
.idea/*
*.swp

[Data Files]
*.mat
*.json
*.csv
test_files/*
plots/*
*.png

[experiment files]
exp_*

[Python]
*/__pycache__/*
modules/__pycache__/*
venv/*                                                                               
".gitignore" 22L, 216B

